<h1>Choose your next lodging</h1>
<div class="d-flex bd-highlight flex-wrap">
  <% x = 0 %>
  <% @flats.each do |flat| %>
    <% x += 1 %>
    <div class="card text-center p-2 m-3 bd-highlight" style="width: 12rem;">
      <%= link_to flat_path(flat), class:"card-body text-decoration-none" do %>
        <img src="https://picsum.photos/200/300?random=<%= x %>" alt="movie poster" class="card-img-top">
        <%= flat.name %>
      <% end %>
      <%= button_to "Delete", flat, method: :delete %>
    </div>
  <% end %>
</div>
<%= link_to "New flat", new_flat_path if policy(Flat).new? %>
<%= link_to "Create New Flat", new_flat_path %>
