<div class="main-ctr" style="height: 100px;">
  <div class="main-content">
    <h1>Choose your next lodging</h1>
  </div>
</div>

<div class="row">
  <div class="d-flex flex-wrap justify-content-evenly col-8" >
    <% x = 0 %>
    <% @flats.each do |flat| %>
      <% x += 1 %>
      <%= link_to flat_path(flat), style:"text-decoration:none; color:#FC5C63" do %>
        <div class="card-flat text-center p-2 m-3 bd-highlight" style="width: 24rem;">
          <!--Philipp added the line below to display a cloudinary image instead of an image from a url: -->
          <% if flat.photo.attached? %>
            <%= cl_image_tag flat.photo.key, crop: :fill %>
            <!-- Optional to add later: else display random image -->
          <% end %>

          <div class="card-flat-infos">
            <div>
              <h2><%= flat.name %></h2>
            </div>
            <h2 class="card-flat-pricing">€<%= flat.price %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-4" id = "map" style="height: 500px; position: sticky; min-height: 100vh; top: 0;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <!--</div>-->
</div>
