<h1>Create a new flat</h1>

<%= simple_form_for @flat do |f| %>
  <p>
    <%= f.input :photo, as: :file %>
  </p>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </p>
  <p>
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
