<h1><%= @flat.name %></h1>

<p><%= @flat.description %></p>
<p><%= @flat.address %></p>
<p><%= @flat.price %></p>
<p><%= @flat.capacity %></p>
<p><%= @flat.availability %></p>

<p>
  <%= link_to "Book", new_flat_booking_path(@flat) %>
</p>

<!-- [flo] -->
<% if policy(@flat).edit? %>
  <%= link_to "Edit this flat", edit_flat_path(@flat) %> |
<% end %>
<%= button_to "Delete", @flat, method: :delete if policy(@flat).destroy? %>
<!-- [flo] -->