<h1><%= @flat.name %></h1>

<img src=<%= @flat.photo %> alt="flat photo" height="400">

<p><%= @flat.description %></p>
<p><%= @flat.address %></p>
<p><%= @flat.price %></p>
<p><%= @flat.capacity %></p>
<% if @flat.user.first_name != nil %>
  <p>Host: <%= @flat.user.first_name %></p>
<% else %>
  <p>Host: Anonymous_<%= @flat.user.id %></p>
<% end %>
<p>
  <%= link_to "Book", new_flat_booking_path(@flat) %>
</p>

<!-- [flo] -->
<% if policy(@flat).edit? %>
  <%= link_to "Edit this flat", edit_flat_path(@flat) %> |
<% end %>
<%= button_to "Delete", @flat, method: :delete if policy(@flat).destroy? %>
<!-- [flo] -->