<h1>Booking confirmation</h1>

<div class="row">
      <div class="col-4">
        <div class="image-wrapper">
          <% if @booking.flat.photo.attached? %>
            <%= cl_image_tag @booking.flat.photo.key, style:"object-fit: cover; height: 500px; width:400px;" %>
          <% end %>
        </div>
      </div>

      <div class="col-4 d-flex">
        <div class="text-wrapper w-100">
          <div class="group">
            <p><strong><%= @booking.flat.name %></strong></p>
          </div>
          <div class="group">
            <p>Address: <%= @booking.flat.address %></p>
          </div>
          <div class="group">
            <p><strong>From</strong> <%= @booking.start_date.strftime("%A, %b %d") %> <strong>to</strong> <%= @booking.end_date.strftime("%A, %b %d") %></p>
          </div>
          <div class="group">
            <p>Price per night: €<%= @booking.flat.price %></p>
            <p>Total stay: <%= (@booking.end_date-@booking.start_date).to_i %> night/s</p>
            <% tax = ((@booking.end_date-@booking.start_date).to_i) * @booking.flat.price * 0.12 %>
            <p>12% tax: €<%= tax %></p>
            <p><strong>TOTAL PRICE: €<%= ((@booking.end_date-@booking.start_date).to_i) * @booking.flat.price + tax %></strong></p>
          </div>
          <p>Host: <%= @booking.flat.user.first_name %> <%= @booking.flat.user.last_name %></p>
          <p>Reach host at <%= @booking.flat.user.email %></p>

          <div class="button d-flex w-100 justify-content-between">
            <p>
              <%= link_to "Add Review", new_flat_review_path(@flat), class: "book-button" %>
            </p>
            <%= button_to "Delete", @bookings, method: :delete, class: "book-button" if policy(@booking).destroy? %>
          </div>

        </div>
      </div>

      <div class="col-4">
      <!-- MAP -->
        <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
