<h1>My Flats</h1>

<div class="d-flex justify-content-center">
  <div class="d-flex flex-wrap" style="width: 90%; margin: 0 auto">
    <% @flats.each do |flat| %>
      <% if flat.user == current_user %>
        <%= link_to flat_path(flat) do %>
          <div class="card-flat text-center p-2 m-3 bd-highlight" style="width: 24rem;">
            <img src=<%= flat.photo %> alt="movie poster">
            <div class="card-flat-infos">
              <div>
                <h2><%= flat.name %></h2>
              </div>
              <h2 class="card-flat-pricing">€<%= flat.price %></h2>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<h1>My Booked Flats</h1>

<div class="d-flex justify-content-center">
  <div class="d-flex flex-wrap" style="width: 90%; margin: 0 auto">
    <% @bookings.each do |booking| %>
      <% if booking.flat.user == current_user %>
        <%= link_to flat_booking_path(booking.flat, booking) do %>
          <div class="card-flat text-center p-2 m-3 bd-highlight" style="width: 24rem;">
            <img src=<%= booking.flat.photo %> alt="movie poster">
            <div class="card-flat-infos">
              <div>
                <h2><%= booking.flat.name %></h2>
                <p><%= booking.start_date.strftime("%b %d '%y") %> - <%= booking.end_date.strftime("%b %d '%y") %></p>
                <p>Booked by: <%= booking.user.email %></p>
              </div>
              <% tax = ((booking.end_date-booking.start_date).to_i) * booking.flat.price * 0.12 %>
              <h2 class="card-flat-pricing">€<%= ((booking.end_date-booking.start_date).to_i) * booking.flat.price + tax %></h2>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>