<% if user_signed_in? %>
  <div class="main-ctr">
    <div class="main-content">
      <% if current_user.first_name != nil %>
        <h1>HELLO, <%= current_user.first_name.upcase %></h1>
      <% else %>
        <h1>HELLO, <%= current_user.email.upcase %></h1>
      <% end %>
    </div>
        </ul>
        <%= form_with url: flats_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control me-2",
            placeholder: "Find a flat"
          %>
        <%= submit_tag "Search", class: "book-button btn-outline-success" %>
        <% end %>
  </div>

<% else %>
  <div class="main-ctr">
    <div class="main-content">
      <h1>WELCOME TO NEWBNB</h1>
      <p>THE NEW NEWBIE BNB SITE</p>
    </div>
      <li class="nav-item active">
        <p><%= link_to "REGISTER NOW", new_user_registration_path, class:"nav-link button-29"%></p>
      </li>
  </div>
<% end %>
