<!DOCTYPE html>
<html>
  <head>
    <title>NewBnB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script>
      const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
      const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
    </script>
  </head>

  <body>
    <!-- Navbar -->
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <%= link_to root_path, class:"navbar-brand" do%>
          <%= image_tag "airbnb_logo.png", class: "airbnb-logo" %>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <%= link_to flats_path, class:"nav-link" do%>
                  View Flats
                <% end %>
              </li>
              <li class="nav-item dropdown">
                <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to new_user_registration_path, class:"dropdown-item" do%>
                    Sign up
                  <% end %>
                  <%= link_to new_user_session_path, class:"dropdown-item" do%>
                    Login
                  <% end %>
                  <a class="dropdown-item" href="#">NewBnB your home</a>
                  <a class="dropdown-item" href="#">Profile</a>
                  <%= link_to destroy_user_session_path, class:"dropdown-item", data_turbo_method:"delete" do%>
                    Log out
                  <% end %>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>

    <!-- Footer -->
    <div class="footer">
      <div class="footer-links">
        <a href="https://github.com/flo-kichijoji" target="_blank" id="flo-git"><i class="fab fa-github"></i></a>
        <a href="https://github.com/itsleonardog" target="_blank" id="leo-git"><i class="fab fa-github"></i></a>
        <a href="https://github.com/paulynompico" target="_blank" id="pau-git"><i class="fab fa-github"></i></a>
        <a href="https://github.com/philipposophos" target="_blank" id="phil-git"><i class="fab fa-github"></i></a>

      </div>
      <div class="footer-copyright">
        © MemoMio Team - Le Wagon
      </div>
    </div>
  </body>
</html>
