<!DOCTYPE html>
<html>
  <head>
    <title>NewBnB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top px-3">
      <%= link_to root_path, class:"navbar-brand" do %>
        <%= image_tag "newbnb_logo.png", class: "airbnb-logo", style:"width:50px;" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 pt-3">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <p><%= link_to "VIEW FLATS", flats_path, class:"nav-link"%></p>
            </li>
            <li class="nav-item">
              <p><%= link_to "ADD NEW FLAT", new_flat_path, class:"nav-link" %></p>
            </li>
            <li class="nav-item">
              <p><%= link_to "SIGNOUT", destroy_user_session_path, class:"nav-link", data: {turbo_method: :delete} %></p>
            </li>
            <li class="nav-item">
              <p><%= link_to "ABOUT US", about_path, class:"nav-link" %></p>
            </li>
          <% else %>
            <li class="nav-item active">
              <p><%= link_to "VIEW FLATS", flats_path, class:"nav-link"%></p>
            </li>
            <li class="nav-item">
              <p><%= link_to "LOGIN", new_user_session_path, class:"nav-link" %></p>
            </li>
            <li class="nav-item">
              <p><%= link_to "ABOUT US", about_path, class:"nav-link" %></p>
            </li>
          <% end %>
        </ul>
        <%= form_tag flats_path, :method => "get", class:"d-flex" do %>
          <%= text_field_tag(:search, params[:search], class:'form-control me-2', placeholder:'Flat name') %>
          <%= submit_tag("Search", :name => nil, :class => "btn btn-outline-success" ) %>
        <% end %>
        <div class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <p><strong>Hey Adventurer!</strong></p>
            <hr>
            <%= link_to "View Flats", flats_path, class: "dropdown-item" %>
            <%= link_to "Add New Flat", new_flat_path, class: "dropdown-item" %>
            <%= link_to "Sign Out", destroy_user_session_path, class: "dropdown-item" %>
          </div>
        </div>
      </div>
    </nav>

    <!-- Yield -->

    <%= yield %>

    <!-- Footer -->
    <div class="footer">
      <div class="footer-links">
        <p>Check our Team on GitHub:</p>
        <a href="https://github.com/flo-kichijoji" target="_blank" id="flo-git"><i class="fab fa-github"></i></a>
        <a href="https://github.com/itsleonardog" target="_blank" id="leo-git"><i class="fab fa-github"></i></a>
        <a href="https://github.com/philipposophos" target="_blank" id="phil-git"><i class="fab fa-github"></i></a>
        <a href="https://github.com/paulynompico" target="_blank" id="pau-git"><i class="fab fa-github"></i></a>
      </div>
      <div class="footer-copyright">
        © <span><%= link_to "MemoMio Team", about_path, style:"text-decoration: none; color: gray;" %></span> - <span><a href="https://www.lewagon.com" target="_blank" style="text-decoration: none; color: gray;">Le Wagon</a></span>
      </div>
    </div>
  </body>
</html>
